body {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, gainsboro, #FFFDD0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    display: flex;
}

header {
    border-bottom: 5px solid black;
    height: 8vh;
    width: 100vw;
}

#main-content {
    flex-grow: 1;
    height: 91%;
    width: 100vw;
}

#book-flex {
    flex-direction: column;
}

#book img {
    width: 20vw;
    height: auto;
}

#book-info > p {
    text-align: center;
}

#star-rating {
    font-size: 4vmin;
    display: inline-block;
    white-space : nowrap; 
    text-align: center;
    width: 20vw;
    align-self: center;
}

#star-rating > span:before {
    content: '★ ';
    font-size: 4vmin;
}

#star-rating label {
    cursor: pointer;
    float: right;
    color:black;
}

#star-rating:hover > span:before {
    color: #f1f175;
}
/* Remove default radio display */
#star-rating input[type=radio] {
    display: none;
}

#star-rating > span:hover ~ span:before {
    color: black;
}
/* Handle rating click*/
#star-rating input[type=radio]:checked ~ label {
    color: #c59b08
}

/* Handle cursor hovering */
#star-rating:not(:checked) > label:hover,
#star-rating:not(:checked) > label:hover ~ label 
{
    color: #755d05 !important;
}

#book {
    padding: 20px 20px;
    flex-direction: row;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    /* border: 5px solid black; */
    width: 30vw;
}

#synopsis {
    flex-direction: column;
    width: 90%;
}

#book-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    /* border: 5px solid black; */
    padding: 8px;
    width: 70%;
}

#synopsis {
    flex-direction: column;
    width: 90%;
}


ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

ul > li {
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
    padding: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    font-size: 24px;
    padding: 15px 32px;
    border-radius: 8px;
    border: none;
    color: white;
	background: burlywood;
    max-width: 100%;
    align-self: center;
    transition-duration: 0.4s;
}

button:hover {
    background: #977d5c;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media screen and (max-width: 600px)
  {
    #book {
        display: none;
    }
    #book-info {
        width: 100%;
    }
}