body {
    display: flex;
    flex-flow: column wrap;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, gainsboro, #FFFDD0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    display: flex;
}

header {
    border-bottom: 5px solid black;
    height: 8vh;
    width: 100vw;
}

#main-content {
    flex-grow: 1;
    height: 91%;
    width: 100vw;
}

#book-flex {
    flex-direction: column;
}

#book img {
    width: 200px;
    height: auto;
}

#book {
    padding: 20px 20px;
    flex-direction: row;
    justify-content: right;
    /* border: 5px solid black; */
    width: 30vw;
}

#book-info {
    flex-direction: column;
    overflow-y: scroll;
    /* border: 5px solid black; */
    padding: 8px;
    width: 70%;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

ul > li {
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
    padding: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    font-size: 24px;
    padding: 15px 32px;
    border-radius: 8px;
    color: white;
	background: burlywood;
    max-width: 100%;
    align-self: center;
    transition-duration: 0.4s;
}

button:hover {
    background: #977d5c;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media screen and (max-width: 600px)
  {
    #book {
        display: none;
    }
    #book-info {
        width: 100%;
    }
}
