* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, gainsboro, #feeefa);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body > children {
	width: 100%;
}

.carousel {
	margin: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1;
	position: relative;
	overflow: hidden;
	filter: drop-shadow(0 0 1rem #0003);
}

.carousel-inner {
	display: flex;
	height: calc(100vh - 16vh - 2rem);
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
}

/* each book should take up the entire container(carousel-inner) */
.book-card {
	scroll-snap-align: start;
	width: 100%;
	height: 100%;
	padding: 2rem;
	flex: 1 0 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-items: center;
	align-items: stretch;

	z-index: 2;
	border-radius: 2.5em;
	background-color: seashell;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
	sans-serif;
};

/* @media screen and (max-width: 450px) { */

.img-container {
	grid-area: img;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 100%;
}

.img-container a {
	justify-self: center;
	justify-content: center;
}

.book-card img {
	height: 100%;
	width: auto;
	overflow: hidden;
	margin: auto;
}

.info {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.synopsis {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.2em;
}

/* .description > h3 {
	font-size: 1.5rem;
	font-weight: 200;
} */

.redirects {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	justify-self: flex-end;
}

.redirects a {
	text-decoration: none;
	color: white;
}

.redirects > button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #37b58b;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	transition: ease-out color 200ms;
	margin: auto;
	justify-self: flex-end;
	margin-bottom: 2rem;
}



.arrow {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;

	height: 4rem;
	width: 2rem;
	font-size: 3rem;

	cursor: pointer;
	opacity: 0.4;
	background-color: darkslategrey;
	border: none;
	z-index: 3;

	transition: ease-out opacity 200ms;
}

.arrow:hover {
	opacity: 1;
}

.left {
	left: 0;
	padding-left: 0.2rem;
	border-radius: 0 100% 100% 0;
	align-self: flex-start;
	justify-self: flex-start;
}

.right {
	right: 0;
	padding-left: 0.2rem;
	border-radius: 100% 0 0 100%;
}

footer {
	display: flex;
	flex-direction: row;
	border-top: 0.2rem solid black;
	justify-content: center;
	justify-self: center;
	height: 8vh;
	top: calc(100vh - 8vh);
}

footer > h4 {
	line-height: 1.5rem;
	margin: auto;
}
