body {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, gainsboro, #FFFDD0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 10%;
    width: 100vw;
}

#book-rating > p {
    font-size: 20px;
}

.username {
    font-weight: bold;
}

#book {
    display: flex;
    flex: 1 1 auto;
    padding: 20px 20px;
    width: 50vw;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: right;
}   

#book-rating p{
    display: inline;
    font-size: 20px;
}

#user-review > li {
    margin-top: 16px;
    padding: 4px 0 4px 14px;
    border-radius: 25px;
    background-color: #b8b7b7;
}

#user-review {
    padding: 0;
    margin: auto;
    list-style-type: none;
    width: 95%;
}

#review{
    overflow-y: scroll;
    width: 50vw;
}

#book img {
    width: 200px;
}

@media screen and (max-width: 600px)
  {
    #book {
        display: none;
    }
    #review {
        width: 100%;
    }
}