.sticky {
	position: sticky;
}

/* Header */

header{
	display: flex;
	flex-direction: row;
	border-bottom: 0.2rem solid rebeccapurple;
	height: 8vh;
	bottom: calc(100vh - 8vh);
	z-index: 12;
	background: whitesmoke;
	justify-self: flex-start;
	justify-content: space-between;
	align-items: center;
}

.logo {
	flex: 1;
	text-align: right;
	padding-right: 0.5rem;
	font: 800;
	color-scheme: dark;
	color: lab(40% 3 -10);
	font-family: Verdana, sans-serif;
}

/* Footer */

footer {
	display: flex;
	flex-direction: row;
	border-top: 0.2rem solid black;
	justify-content: center;
	justify-self: center;
	height: 8vh;
	top: calc(100vh - 8vh);
    background-color: whitesmoke;
}

footer > h4 {
	line-height: 1.5rem;
	margin: auto;
}

.spacer {
	flex: 1 1 auto;
}

/* Navbar */

.navbar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background: linear-gradient(to bottom right, rgb(71, 140, 237), #0b0161);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px;
	transition: 0.5s; /* 0.5 second transition */
	display: flex;
	flex-direction: column;
}

.navbar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
}

.navbar a:hover {
	color: #a4a1a1;
}

/* Menu button */
.navbarToggle {
	display: flex;
	cursor: pointer;
	margin: 6px;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: 11; /* Above navbar */
    flex-direction: column;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 5px;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
}

#welcome_msg {
	margin-top: 10px;
	margin-bottom: 6px;
	font-size: 20px;
	opacity: 0.4;
	color: #f1f1f1;
	text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
	/* For when dimensions too small */
    .navbar {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 10; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background: linear-gradient(to bottom right, rgb(71, 140, 237), #0b0161);
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 50px;
        transition: 0.5s; /* 0.5 second transition */
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: row;
        border-top: 0.2rem solid black;
        justify-content: center;
        justify-self: center;
        height: 8vh;
        top: calc(100vh - 8vh);
        background-color: whitesmoke;
        font-size: 14px;
    }
}